@page "/contact"
@using System.Net;
@using System.Net.Mail;
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Contact Us</title>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url('https://images.unsplash.com/photo-1593055339366-26882b66e012?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        background-position: center;
        height: 100vh; /* Set the height of the body to 100% of the viewport height */
    }
    .bg-glass{
        background: rgba(255, 255, 255, 0.21);
        border-radius: 20px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.9px);
        -webkit-backdrop-filter: blur(4.9px);
        border: 1px solid rgba(255, 255, 255, 0.35);
        max-width: 800px;
        margin: 20px auto;
        margin-top: 140px auto;
        padding: 90px;
    }

        .bg-glass h1 {
            color: black;
            text-align: center;
            margin-bottom: 20px;
        }
    .form-label{
        font-weight: bold;
    }

    .btn-secondary {
        padding: 10px 20px; /* Adjust padding for the button */
        border: none;
        border-radius: 5px;
        background-color: #4a90e2;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        display: block; /* Change display to block */
        margin: 20px auto;


        /* padding: 10px;
        border: none;
        align-content: center;
        border-radius: 5px;
        background-color: #4a90e2;
        color: #fff;
        font-weight: bold;
        cursor: pointer; */
    }

        .btn-secondary:hover {
            background-color: #357bd8;
        }
        .form-table {
            font-weight: bold;
        }
</style>

<body>
        <!--Contact Us-->
        <div class="bg-glass mt-5">
            <h1 class="mt-8">Contact Us</h1>
            <EditForm Model="ContactModel" OnSubmit="SendInfo">
                @if (SuccessMessage == true)
                {
                    <div id="toast-success" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-100 rounded-lg shadow text-gray-400 bg-blue-800 duration-200" role="alert">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg bg-green-800 text-green-200">
                            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                            </svg>
                            <span class="sr-only">Check icon</span>
                        </div>
                        <div class="ms-3 text-sm font-normal">Thanks for reaching out. I will get back to you</div>
                    </div>
                }
                <div>
                    <label for="name" class="form-table">Full name *</label>
                <input @bind-value="@ContactModel.Name" id="name" type="text" placeholder="" class="form-control" required>
                </div>
                <div>
                    <label for="email" class="form-table">Email *</label>
                    <input @bind-value="@ContactModel.Email" id="email" type="email" class="form-control" required></div>
                <div>
                    <label for="message" class="form-table">Message *</label>
                    <textarea @bind="@ContactModel.Message" id="message" rows="5" class="form-control" required></textarea>
                </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
            </EditForm>

        </div>

        <!-- Optional JavaScript; choose one of the two! -->
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        -->
</body>

</html>


@code {
    string fromMail = "sabdullahzaidi5@gmail.com";
    string fromPass = "tblohexsvwgwteaj";
    private bool SuccessMessage = false;
    public class EmailModel
    {
        public string? Name { get; set; }
        public string? Email { get; set; }
        public string? Message { get; set; }
    }

    public EmailModel ContactModel = new EmailModel();
    public async Task SendInfo()
    {
        MailMessage message = new MailMessage();
        message.From = new MailAddress(fromMail);
        message.Subject = ContactModel.Name + " | " + ContactModel.Email;
        message.To.Add(new MailAddress("sabdullahzaidi5@gmail.com", ContactModel.Email));
        message.Body = ContactModel.Message;
        message.IsBodyHtml = true;

        var smtpClient = new SmtpClient("smtp.gmail.com")
            {
                Port = 587,
                Credentials = new NetworkCredential(fromMail, fromPass),
                EnableSsl = true,
            };
        await smtpClient.SendMailAsync(message);
        SuccessMessage = true;
        StateHasChanged();
        await Task.Delay(5000); // Delay for 5 seconds
        SuccessMessage = false;

        ContactModel = new EmailModel();
    }


}
@* @code {


    public class Model
    {
        public string? name;
        public string? email;
        public string? message;
    }

    public Model contactForm = new Model();


    private async Task SubmitForm()
    {
        try
        {
            var smtpClient = new SmtpClient("smtp.gmail.com")
                {
                    Port = 587,
                    Credentials = new NetworkCredential("sabdullahzaidi5@gmail.com", "tblohexsvwgwteaj"),
                    EnableSsl = true,
                };

            var mailMessage = new MailMessage
                {
                    From = new MailAddress(contactForm.email),
                    Subject = "New message from Contact Form",
                    Body = $"Name: {contactForm.name}\nEmail: {contactForm.email}\n\n{contactForm.message}"
                };
            mailMessage.To.Add("sabdullahzaidi5@gmail.com"); // Admin email address

            await smtpClient.SendMailAsync(mailMessage);

        }
        catch (Exception ex)
        {
            // Handle exception, e.g., log it or show error to the user
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
} *@

@* @page "/contact"
@using System.Net;
@using System.Net.Mail;

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<section class="bg-gray-200 pt-20 pb-20">
    <div class="grid max-w-screen-xl grid-cols-1 gap-8 px-8 py-16 mx-auto rounded-lg md:grid-cols-2 md:px-12 lg:px-16 xl:px-32 bg-gray-800 text-gray-100">
        <div class="flex flex-col justify-between">
            <div class="space-y-2">
                <h2 class="text-4xl font-bold leadi lg:text-5xl" id="cnt">Contact</h2>
            </div>
            <img src="https://www.intellect-worldwide.com/wp-content/uploads/sites/123/2020/11/edited-contact-us.png" alt="" class="p-6">
        </div>
        <form class="space-y-6">

             <EditForm Model="ContactModel" OnSubmit="SendInfo">
                @if (SuccessMessage == true)
                {
                    <div id="toast-success" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-100 rounded-lg shadow text-gray-400 bg-blue-800 duration-200" role="alert">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg bg-green-800 text-green-200">
                            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                            </svg>
                            <span class="sr-only">Check icon</span>
                        </div>
                        <div class="ms-3 text-sm font-normal">Thanks for reaching out. I will get back to you</div>
                    </div>
                }
                <div>
                    <label for="name" class="text-sm">Full name *</label>
                    <input @bind-value="@ContactModel.Name" id="name" type="text" placeholder="" class="w-full p-3 rounded bg-gray-800 border" required>
                </div>
                <div>
                    <label for="email" class="text-sm">Email *</label>
                    <input @bind-value="@ContactModel.Email" id="email" type="email" class="w-full p-3 rounded bg-gray-800 border" required>
                </div>
                <div>
                    <label for="message" class="text-sm">Message *</label>
<textarea @bind="@ContactModel.Message" id="message" rows="3" class="w-full p-3 rounded bg-gray-800 border" required></textarea>
                </div>
                <button type="submit" class="w-full p-3 text-sm font-bold tracki uppercase rounded bg-blue-800 text-gray-200">Send Message</button>
            </EditForm>
        </form>
    </div>

</section>
 *@